<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @period.name %>
</p>

<p>
  <strong>start_year:</strong>
  <%= @period.start_year %>
</p>

<p>
  <strong>start_month:</strong>
  <%= @period.start_month %>
</p>

<p>
  <strong>start_day:</strong>
  <%= @period.start_day %>
</p>

<p>
  <strong>end_year:</strong>
  <%= @period.end_year %>
</p>

<p>
  <strong>end_month:</strong>
  <%= @period.end_month %>
</p>

<p>
  <strong>end_day:</strong>
  <%= @period.end_day %>
</p>




