<div class="row">
  <div class="col-xs-3">
    <%= form_tag root_path, method: :get, class: 'form-search' do %>
      <p>
        <%= text_field_tag :keyword, params[:keyword], class: 'nav-search-input' %>
        <%= submit_tag "search", name: nil, class: 'btn btn-primary' %>
      </p>
    <% end %>
  </div>
  <div class="col-xs-6"></div>
  <div class="col-xs-3 text-right">
  </div>
</div>
<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th class="text-center">#</th>
    <th class="text-center">photo</th>
    <th class="text-center">user</th>
    <th class="text-center">tags</th>
    <th class="text-center">edit tags</th>
    <th class="text-center">url</th>
  </tr>
  </thead>
  <tbody>
  <% if @observations.present? %>
    <% @observations.each_with_index do |observation, index| %>
      <tr>
        <td class="text-center"><%= index + 1 %></td>
        <td class="text-center">
          <%= link_to observation["uri"], target: :_blank do %>
            <%= image_tag observation["photos"].first["url"] %>
          <% end %>
        </td>
        <td class="text-center">
          <% if observation["user"].present? && observation["user"]["icon"].present? %>
            <%= link_to "https://www.inaturalist.org/people/#{observation["user"]["login"]}", target: :_blank do %>
              <%= image_tag observation["user"]["icon"] %>
            <% end %>
          <% end %>
          <br>
          <%= link_to "#{observation["user"]["login"]}", "https://www.inaturalist.org/people/#{observation["user"]["login"]}", target: "_blank" %>
        </td>
        <td class="text-center"><%= show_tags(observation) %></td>
        <td class="text-center">
          <a href="<%= show_tags_path(observation_id: observation["id"]) %>" class="btn btn-app btn-primary no-radius" target="_blank">
            <i class="ace-icon fa fa-pencil-square-o bigger-230"></i>
          </a>
        </td>
        <td class="text-center">
          <a href="<%= observation["uri"] %>" class="btn btn-app btn-success" target="_blank">
            <i class="ace-icon glyphicon glyphicon-zoom-out bigger-230"></i>
          </a>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>