<div class="row">
  <div class="col-xs-3">
    <%= form_tag root_path, method: :get, class: 'form-search' do %>
      <p>
        <%= text_field_tag :keyword, params[:keyword], class: 'nav-search-input' %>
        <%= submit_tag "search", name: nil, class: 'btn btn-primary' %>
      </p>
    <% end %>
  </div>
  <div class="col-xs-6"></div>
  <div class="col-xs-3 text-right">
  </div>
</div>


<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th class="text-center">#</th>
    <th class="text-center">photo</th>
    <th class="text-center">user</th>
    <th class="text-center">url</th>
  </tr>
  </thead>
  <tbody>
  <% @resutls.each_with_index do |result, index| %>
    <tr>
      <td class="text-center"><%= index + 1 %></td>
      <td class="text-center"><%= image_tag result["photos"].first["url"] %></td>
      <td class="text-center">
        <%= image_tag result["user"]["icon"] if result["user"].present? && result["user"]["icon"].present? %>
        <%= link_to "#{result["user"]["login"]}", "https://www.inaturalist.org/people/#{result["user"]["login"]}", target: "_blank" %>
      </td>
      <td class="text-center"><%= link_to "開啟 inaturalist", result["uri"], target: "_blank" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= session[:token] %>