<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Find easily a doctor and book online an appointment">
  <meta name="author" content="Ansonika">
  <title>南湖登山小學</title>

  <!-- Favicons-->
  <link rel="shortcut icon" href="visitor-theme/html_menu_2/img/23706-icon-span2.png" type="image/x-icon">
  <link rel="apple-touch-icon" type="image/x-icon" href="visitor-theme/html_menu_2/img/apple-touch-icon-57x57-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="visitor-theme/html_menu_2/img/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="visitor-theme/html_menu_2/img/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="visitor-theme/html_menu_2/img/apple-touch-icon-144x144-precomposed.png">

  <!-- GOOGLE WEB FONT -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">

  <!-- BASE CSS -->
  <link href="visitor-theme/html_menu_2/css/bootstrap.min.css" rel="stylesheet">
  <link href="visitor-theme/html_menu_2/css/style.css" rel="stylesheet">
  <link href="visitor-theme/html_menu_2/css/menu.css" rel="stylesheet">
  <link href="visitor-theme/html_menu_2/css/vendors.css" rel="stylesheet">
  <link href="visitor-theme/html_menu_2/css/icon_fonts/css/all_icons_min.css" rel="stylesheet">

  <!-- YOUR CUSTOM CSS -->
  <link href="visitor-theme/html_menu_2/css/custom.css" rel="stylesheet">

</head>

<body>

<div id="preloader" class="Fixed">
  <div data-loader="circle-side"></div>
</div>
<!-- /Preload-->

<div id="page">
  <main>
    <%= render 'layouts/messages' %>
    <div class="hero_home" style="height: 900px">
      <div class="content">
        <h3>南湖登山小學</h3>
        <p>
        </p>
        <%= form_tag search_results_path, method: :get do %>
          <div id="custom-search-input">
            <ul>
              <li>
                <input type="radio" id="user_0" name="user" value="" checked>
                <label for="user_0" style="min-width: 0px">All</label>
              </li>
              <% Observation.order(user_id: :asc).pluck(:user_id).uniq.compact.each do |id| %>
                <% user = User.find(id) %>
                <li>
                  <input type="radio" id="<%= "user_#{id}" %>" name="user" value="<%= user.nickname %>">
                  <label for="<%= "user_#{id}" %>" style="min-width: 0px"><%= user.nickname %></label>
                </li>
              <% end %>
            </ul>

            <ul>
              <li>
                <input type="radio" id="category_0" name="category" value="" checked>
                <label for="category_0" style="min-width: 0px">All</label>
              </li>
              <% Category.order(id: :asc).pluck(:id).uniq.each do |id| %>
                <% category = Category.find(id) %>
                <li>
                  <input type="radio" id="<%= "category_#{id}" %>" name="category" value="<%= category.chinese_name %>">
                  <label for="<%= "category_#{id}" %>" style="min-width: 0px"><%= category.chinese_name %></label>
                </li>
              <% end %>
            </ul>

            <ul>
              <li>
                <input type="radio" id="place_0" name="place" value="" checked>
                <label for="place_0" style="min-width: 0px">All</label>
              </li>
              <% Place.order(id: :asc).pluck(:id).uniq.each do |id| %>
                <% place = Place.find(id) %>
                <li>
                  <input type="radio" id="<%= "place_#{id}" %>" name="place" value="<%= place.chinese_name %>">
                  <label for="<%= "place_#{id}" %>" style="min-width: 0px"><%= place.chinese_name %></label>
                </li>
              <% end %>
            </ul>

            <ul>
              <li>
                <input type="radio" id="period_0" name="period" value="" checked>
                <label for="period_0" style="min-width: 0px">All</label>
              </li>
              <% Period.order(id: :asc).pluck(:id).uniq.each do |id| %>
                <% period = Period.find(id) %>
                <li>
                  <input type="radio" id="<%= "period_#{id}" %>" name="period" value="<%= period.name %>">
                  <label for="<%= "period_#{id}" %>" style="min-width: 0px"><%= period.name %></label>
                </li>
              <% end %>
            </ul>

          </div>
          <div id="custom-search-input">
            <div class="input-group">
              <%= text_field_tag :keyword, params[:keyword], class: 'search-query' %>
              <%= submit_tag "搜尋", name: nil, class: 'btn_search' %>
            </div>
          </div>
        <% end %>
        <br>
        <a href="<%= root_path %>" class="btn_1 medium">回首頁</a>
      </div>
    </div>    <!-- /Hero -->
  </main>
  <!-- /main content -->


</div>
<!-- page -->

<!-- COMMON SCRIPTS -->
<script src="visitor-theme/html_menu_2/js/jquery-2.2.4.min.js"></script>
<script src="visitor-theme/html_menu_2/js/common_scripts.min.js"></script>
<script src="visitor-theme/html_menu_2/js/functions.js"></script>

<%= debug(params) if Rails.env.development? %>

</body>

</html>