<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Find easily a doctor and book online an appointment">
  <meta name="author" content="Ansonika">
  <title>南湖登山小學</title>

  <!-- Favicons-->
  <link rel="shortcut icon" href="visitor-theme/html_menu_2/img/23706-icon-span2.png" type="image/x-icon">
  <link rel="apple-touch-icon" type="image/x-icon" img src="visitor-theme/html_menu_2/img/apple-touch-icon-57x57-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" img src="visitor-theme/html_menu_2/img/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" img src="visitor-theme/html_menu_2/img/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" img src="visitor-theme/html_menu_2/img/apple-touch-icon-144x144-precomposed.png">

  <!-- GOOGLE WEB FONT -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">

  <!-- BASE CSS -->
  <link href="visitor-theme/html_menu_2/css/bootstrap.min.css" rel="stylesheet">
  <link href="visitor-theme/html_menu_2/css/style.css" rel="stylesheet">
  <link href="visitor-theme/html_menu_2/css/menu.css" rel="stylesheet">
  <link href="visitor-theme/html_menu_2/css/vendors.css" rel="stylesheet">
  <link href="visitor-theme/html_menu_2/css/icon_fonts/css/all_icons_min.css" rel="stylesheet">

  <!-- SPECIFIC CSS -->
  <link href="visitor-theme/html_menu_2/css/date_picker.css" rel="stylesheet">

  <!-- YOUR CUSTOM CSS -->
  <link href="visitor-theme/html_menu_2/css/custom.css" rel="stylesheet">

  <!-- Start of nanhu Zendesk Widget script -->
  <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=0e1cdb58-27c0-406e-aedc-4859823d0b94"></script>
  <!-- End of nanhu Zendesk Widget script -->
</head>

<body>

<div id="preloader" class="Fixed">
  <div data-loader="circle-side"></div>
</div>
<!-- /Preload-->
<div id="page">
  <div class="container">
    <nav id="menu" class="main-menu">
    </nav>
    <!-- /main-menu -->
  </div>
  <!-- /container -->

  <main class="theia-exception">
    <div id="results">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <a href="<%= root_path %>"><img src="visitor-theme/html_menu_2/img/23706-icon-span2.png" alt=""></a>
          </div>
          <div class="col-md-6">
            <div class="search_bar_list">
              <%= form_tag search_results_path, method: :get do %>
                <input type="text" class="form-control" placeholder="" name="keyword" value="<%= @keyword %>">
                <input type="submit" value="搜尋">
              <% end %>
            </div>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /results -->

    <div class="filters_listing">
      <div class="container">
        <% if @observations.present? %>
          <h4>顯示 <%= @observations.count %> 項結果，共 <%= @observations.count %> 項結果。</h4>
        <% else %>
          <h4>沒有資料</h4>
        <% end %>
      </div>
      <!-- /container -->
    </div>
    <!-- /filters -->

    <div class="container margin_60_35">
      <div class="row">
        <div class="col-lg-7">
          <% @observations.each_with_index do |observation, index| %>
            <div class="strip_list wow fadeIn">
              <figure>
                <a href="<%= observation.uri %>" target="_blank"><img src="<%= observation.photo_url %>" alt=""></a>
              </figure>
              <h3><%= observation.taxon_name %></h3>
              <p><%= observation.description %></p>
              <br>
              <ul>
                <li></li>
                <li><a href="#0" onclick="onHtmlClick(<%= index %>)" class="btn_listing">顯示於地圖</a></li>
                <li></li>
                <li><a href="<%= observation.uri %>" target="_blank">顯示於 iNaturlist</a></li>
                <li>
                  <%= link_to observation.user_login, "https://www.inaturalist.org/people/#{observation.user_login}", target: :_blank %>
                  <% if observation.user_icon.present? %>
                    <%= link_to "https://www.inaturalist.org/people/#{observation.user_login}", target: :_blank do %>
                      <%= image_tag observation.user_icon %>
                    <% end %>
                  <% end %>
                </li>
              </ul>
            </div>
            <!-- /strip_list -->
          <% end %>
        </div>
        <!-- /col -->

        <aside class="col-lg-5" id="sidebar">
          <div id="map_listing" class="normal_list">
          </div>
        </aside>
        <!-- /aside -->

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </main>
  <!-- /main -->

  <footer>
    <div class="container margin_60_35">

    </div>
  </footer>
  <!--/footer-->
</div>
<!-- page -->

<!-- COMMON SCRIPTS -->
<script src="visitor-theme/html_menu_2/js/jquery-2.2.4.min.js"></script>
<script src="visitor-theme/html_menu_2/js/common_scripts.min.js"></script>
<script src="visitor-theme/html_menu_2/js/functions.js"></script>

<!-- SPECIFIC SCRIPTS -->
<script>
    var markers = [];

    function onHtmlClick(index) {
        new google.maps.event.trigger(markers[index], 'click');
    }

    function initMap() {
        var yunlengCabin = {lat: 24.37837, lng: 121.39738};
        var map = new google.maps.Map(
            document.getElementById('map_listing'), {zoom: 10, center: yunlengCabin, mapTypeId: 'satellite'});

        var infowindow = new google.maps.InfoWindow({position: yunlengCabin});

        <% @observations.each_with_index do |observation, index| %>
        var uluru = {lat: <%=observation.latitude %>, lng: <%=observation.longitude %>};
        var marker = new google.maps.Marker({position: uluru, map: map, id: <%= index %>});
        marker.addListener('click', function () {
            infowindow.open(map, marker);
            infowindow.setContent('<div><a href="<%= observation.uri %>" target= "_blank"><img src="<%= observation.photo_url %>" /></a><br><br><%= observation.taxon_name %><br><%= observation.description %></div>');
            infowindow.setPosition({lat: <%=observation.latitude %>, lng: <%=observation.longitude %>});
        });
        markers.push(marker)
        <% end %>
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>

<%= debug(params) if Rails.env.development? %>
</body>
</html>