<%= simple_form_for [:admin, @category] do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :chinese_name %>
  </div>
  <div class="form-actions">
    <%= submit_button(f) %>
    <%= show_cancel_link %>
  </div>
<% end %>