<%= simple_form_for [:admin, @observation] do |f| %>

  <%= f.input :name, label: "名稱：   " %>
  <br>
  <%= f.input :user_id,
              collection: User.with_role(:contributor),
              as: :radio_buttons,
              label_method: lambda { |user| "#{user.nickname}" },
              label: "拍攝者",
              checked: @observation.user_id %>

  <br>

  <%= f.input :category_id,
              collection: Category.all,
              as: :radio_buttons,
              label_method: lambda { |category| "#{category.chinese_name}(#{category.name})" },
              label: "分類",
              checked: @observation.category_id %>
  <br>
  Tags:
  <br>
  <%= f.text_field :tag_tokens, data: { load: @observation.tags } %>

  <br>
  Places:
  <br>
  <%= f.text_field :place_tokens, data: { load: @observation.places } %>

  Period:
  <br>
  <%= f.text_field :period_tokens, data: { load: @observation.periods } %>

  <div class="form-actions">
    <%= submit_button(f) %>
    <%= show_cancel_link %>
  </div>
<% end %>
<script>
    $(document).ready(function () {
        $('#observation_tag_tokens').tokenInput('/admin/tags/search', {
            prePopulate: $('#observation_tag_tokens').data('load'),
            preventDuplicates: true,
            propertyToSearch: 'name'
        });
        $('#observation_place_tokens').tokenInput('/admin/places/search', {
            prePopulate: $('#observation_place_tokens').data('load'),
            preventDuplicates: true,
            propertyToSearch: 'chinese_name'
        });
        $('#observation_period_tokens').tokenInput('/admin/periods/search', {
            prePopulate: $('#observation_period_tokens').data('load'),
            preventDuplicates: true,
            propertyToSearch: 'name'
        });
    });
</script>
